# Ignore everything by default — only manually added items belong in this repo.
*
!.gitignore
!git/
!git/ignore
!fastfetch/
!fastfetch/**
!nvim/
!nvim/**
!ohmyposh/
!ohmyposh/**
!tmux/
!tmux/tmux.conf
!starship.toml
